[core]
	autocrlf = input
  excludesfile = ~/.gitignore
[push]
	default = current
	autoSetupRemote = true
[alias]
	cleanhouse = ! echo "Deleting old branches" && git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D
  d = difftool
  m = mergetool
  pu = push -u
[diff]
  tool = vimdiff
[include]
  path = ~/.gitconfig.personal
[difftool]
  prompt = false
[difftool "vimdiff"]
	cmd = vim -f -d -c \"wincmd l\" -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = vim_mergetool
  conflictStyle = diff3
[mergetool "vim_mergetool"]
  cmd = vim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode = true
[mergetool]
  prompt = false
[hub]
  protocol = https
[interactive]
  singleKey = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[commit]
  template = ~/dotfiles/.gitcommit.md
[init]
	defaultBranch = main
