node_modules
__pycache__
*.swp
*.swo
*.orig
Session.vim
.doNotCommit*
.gitconfig.personal
.DS_Store
._.DS_Store
/.idea
.jira.issue
tags
tags.lock
tags.temp
.vroom
server.log
cookies.js
.ctags.d
cheat/community
cheat/private
.env*
talisman_reports
